* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 20px;
    background-color:cornflowerblue;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name {
    font-weight: bold;
    font-size: 1.3em;
    color: white;
}

.header-container .links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 1em;

}    

.banner {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

.slogan {
    font-weight: bold;
    color: white;
}